.hero {
  color: #fff;
  height: 100%;
  width: 100%;
}

.image-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.image-container::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.7;
}

.hero-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.content-container h1 {
  font-size: 4rem;
  padding: 0.6rem 0 1.5rem;
}

.content-container p {
  font-size: 1.2rem;
}

.content-container .btn {
  margin: 1rem 0.2rem;
}

.btn {
  text-decoration: none;
  padding: 0.7rem 2rem;
  background-color: yellow;
  color: #000;
  font-weight: bold;
  border: 1px solid #fff;
}

.btn-light {
  background-color: transparent;
  color: #fff;
}

@media screen and (max-width: 700px) {
  .content-container h1 {
    font-size: 3rem;
  }

  .content-container p {
    font-size: 1.4rem;
  }
}
